

header {
	background-color: rgb(5, 40, 225);
	background-image: linear-gradient(to bottom right, rgb(78, 78, 235), #a09be5);
	color: whitesmoke;
	min-height: 3rem;
    padding-bottom: 25px;
    padding-top: 25px;
}

header h1 {
	line-height: 1.5;
	font-size: 4rem;
	word-spacing: 5px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.aside001 {
    background-color: rgb(90, 90, 90);
	background-image: linear-gradient(
		to bottom,
		rgb(235, 235, 235),
        rgb(148, 148, 148)
    );
}

.result001 {
	background-color: rgb(90, 90, 90);
	background-image: linear-gradient(
		to bottom,
		rgb(235, 235, 235),
		rgb(0, 194, 74)
	);
}

.result001 {
	border: 1px solid rgb(90, 90, 90);
	border-radius: 10px;
	color: rgb(90, 90, 90);
	max-width: 100% !important;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
	text-align: center;
	padding-bottom: 20px;
	display: inline-block !important;
	/* margin-left: 50px !important; */
}

#search001 {
	background-color: rgb(90, 90, 90);
	background-image: linear-gradient(
		to bottom,
		rgb(235, 235, 235),
		rgb(5, 2, 209)
	);
}

